.container{
    display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 3em;
}
h2{
    text-align: center;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
p{
    display: block;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.article{
    display: grid;
    grid-gap: 0.6em;
}
.article > div:nth-child(1){
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background: #ececec;
    grid-row: 1/3;
    grid-column: 1/2;
    padding: 0.3em;
}
.article > div:nth-child(2){
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #ececec;
    grid-column: 2/4;
    padding: 0.5em;
}
.article > div:nth-child(3){
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #ececec;
    grid-column: 1/2;
    padding: 0.6em;
}
.article > div:nth-child(4){
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #ececec;
    grid-row: 2/4;
    grid-column: 2/4;
    padding: 1em;
}
