<div align="center" class="container">
    <div class="article">
        <div><img src="{{ article.image }}"></div>
        <div><h2>{{ article.heading }}</h2></div>
        <div><p>{{ article.description }}</p></div>
        <div><p>{{ article.textfield }}</p><br>{{ article.created }}</div>
    </div>
</div>
