{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogi</title>
    <link rel="stylesheet" href="{% static 'blogi/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'blogi/grid.css' %}"/>
</head>
<body>
<H1>Blogi</H1>
<hr>
{% block contain %}
{% endblock %}
<hr>
<footer id="foot">Toni Kemppainen 2018</footer>
</body>
</html>
